<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">

  <parameter name="browserUsed" value="chrome"/>
  <parameter name="searchText" value="loco"/>
  	
  <test name="searchTest1">
  <!-- A package can be specified instead of individual classes. -->
    <classes>
      <class name="test.SearchTest"/>
      <class name="utils.Base"/>
    </classes>
  </test> 

  
</suite> 
